{% extends 'layout.html.twig' %}
{% set pagetitle = 'Letterpress Calculator' %}

{% block content %}

<div class="starter-template">
    <form action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
</div>

{% endblock %}